<app-header></app-header>

<app-auth> </app-auth>
<app-post-edit></app-post-edit>
<app-post-edit></app-post-edit>

<h1>Hello World this is my new application!!!!</h1>

<h2>I am {{ memberName }}</h2>
<input type="text" [(ngModel)]="l1" />
<button (click)="addlanguages()">add</button>
<button (click)="deleteFirstlanguages()">delete First language</button>
<p>My Language is {{ l1 }}</p>
<h2>List of the Languages</h2>

<ul>
  <li *ngFor="let lang of listOflanguages">{{ lang }}</li>

  <strong *ngIf="listOflanguages.length > 3"
    >" Congratulation you know more than 3 Language"</strong
  >
</ul>
